/**
* Colors: https://developer.microsoft.com/en-us/fabric#/styles/colors
*/

body {
    margin: 0;
    padding: 0;
    background-color: #f8f8f8
}

h2 {
    margin: 0px;
    padding: 0px;
}

ul {
    list-style-type: none;
    margin: 0;
    padding: 0;
    overflow: hidden;
    background-color: #333;
}

li {
    float: left;
}

li a {
    display: block;
    color: white;
    text-align: center;
    padding: 14px 16px;
    text-decoration: none;
}

li a:hover {
    background-color: #7e7d7d;
}

button {
    background-color: #f8f8f8;
    border: 1px solid #666666;
    margin: 3px;
}

.altered-backgrounds tr:nth-child(even) {
    background-color: clear;
}

.altered-backgrounds tr:nth-child(odd) {
    background-color: #f8f8f8;
}

.active {
    background-color: #4CAF50;
}

.content {
    padding: 8px;
    margin-bottom: 20px;
    background-color: white;
    border: 1px solid #c8c8c8;
}

#content-wrapper {
    max-width: 720px;
    margin: 0 auto;
}

footer {
    position: fixed;
    left: 0;
    bottom: 0;
    width: 100%;
    background-color: inherit;
    font-size: 0.75rem;
    color: #333;
    text-align: center;
}