{% extends "layout.html" %} {% block content %}
<h1>Browse Twitch team</h1>
<div class="content">
    <h2>1. Specify your team</h2>
    <p>Enter the team's name that you will browse.</p>
    <form method="post">
        <input type="text" placeholder="Enter team name" name="team_name" value="{{ team_name }}"/> <label for="include_mature">Include mature content?</label>
        <input type="checkbox" name="include_mature" value="checked" {% if include_mature %}} checked="checked" {% endif %}/> <br />
        <button>search</button>

        {% if team["error"] %}
            <p class="error">The given name does not match any team on Twitch.</p>
        {% endif %}
    </form>
</div>

{% if team["name"] %}
<div class="content">
    <h2>Team Information</h2>

    <table>
        <tr>
            <td>
                <a target="_blank" href="https://www.twitch.tv/team/{{ team['name']}}">
                    <img src="{{ team['logo'] }}" width="150" />
                </a>
            </td>

            <td style="padding-left: 8px;">
                <div >
                    <span class="ms-font-xl ms-fontWeight-regular">{{ team["display_name"] }}</span>
                    <span class="ms-font-s" style="padding-left: 4px;"><a target="_blank" href="https://www.twitch.tv/team/{{ team['name']}}">(view on Twitch)</a></span>
                </div>
                <div class="ms-font-m">{{ team["info"] | safe }}</div>
            </td>
        </tr>
    </table>
</div>
    
<div class="content">
    <h2>Member Information</h2>
    <table class="altered-backgrounds" style="width: 100%; padding-top: 8px;">
        <th>&nbsp;</th><th text-align="left">Name</th><th>Status</th><th style="width: 125px;">Family friendly?</th>
        {% if team["users"] %}
            {% for member in team["users"] %}
                <tr>
                    <td><img src="{{ member.logo }}" width="100" /></td>
                    <td class="ms-textAlignCenter">
                        <a href="{{ member.url }}" target="_blank">{{ member.display_name}}</a>
                    </td>
                    <td>
                        {{ member.status }}
                    </td>
                    <td class="ms-textAlignCenter" >
                        {% if member.mature %}
                            🚨
                        {% else%}
                            ✅
                        {% endif %}
                    </td>
                </tr>
            {% endfor %}
        {% else %}
            <tr>
                <td colspan="4" style="text-align: center;"><i>The team has no members, yet.</i></td>
            </tr>
        {% endif %}
    </table>
</div>
{% endif %}
{% endblock %}