<!doctype html>
<html>

<head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">

    <link rel="stylesheet" href="https://static2.sharepointonline.com/files/fabric/office-ui-fabric-core/9.6.1/css/fabric.min.css">
    <link rel="stylesheet" href="{{ url_for('static', filename='style.css') }}">

    <title>Twitch Team Browser (TTB)</title>
</head>

<body class="ms-Fabric" dir="ltr">

    <header>
        <ul>
            <li><a href="#">Browse</a></li>
            <li><a href="#">News</a></li>
            <li><a href="#">Contact</a></li>
            <li style="float:right"><a class="active" href="#about"><strong>Fork on GitHub</strong></a></li>
        </ul>
    </header>

    <div id="content-wrapper">
        {% block content %}{% endblock %}
    </div>

    <footer>
        <p>Powered by Twitch Team Browser | Python Flask | Microsoft Office Fabric and <3</p>
    </footer>
</body>

</html>